/**
 * ReactFlowEditorPanel wrapper styles
 * Ensures the panel content takes full available space
 */

.react-flow-editor-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
